/* Web fonts */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: local('Permanent Marker'), local('PermanentMarker'), url('permanent-marker.woff') format('woff');
}

/* Reset */
html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup,
header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd,
figure, figcaption, div, a, em, strong, small, s, cite, q, dfn, abbr, time,
code, var, samp, kbd, sub, sup, i, b, mark, ruby, rt, rp, bdi, bdo, span, ins,
del, img, iframe, embed, object, video, audio, canvas, table, caption, tbody,
thead, tfoot, tr, td, th, form, fieldset, legend, label, input, button,
select, optgroup, option, textarea, keygen, output, progress, meter, details,
summary, command, menu {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    cursor: inherit;
}


/* Stuff */

body {
    margin: 48px;
}

.words-purple {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    overflow: hidden;
    font: 32px/48px "Permanent Marker";
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.words-purple .background,
.words-purple .title-screen,
.words-purple .game {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.words-purple h1 {
    margin: 24px 96px;
    font-size: 64px;
    line-height: 96px;
    color: #cc66ee;
    text-shadow: -2px -2px #1a001c, 0 -2px #1a001c, 2px -2px #1a001c, 2px 0 #1a001c,
            2px 2px #1a001c, 0 2px #1a001c, -2px 2px #1a001c, -2px 0 #1a001c,
            -2px -2px 2px #cc66ee, 0 -2px 2px #cc66ee, 2px -2px 2px #cc66ee, 2px 0 2px #cc66ee,
            2px 2px 2px #cc66ee, 0 2px 2px #cc66ee, -2px 2px 2px #cc66ee, -2px 0 2px #cc66ee;
}

.words-purple .loading {
    margin: 24px;
    padding: 0 8px;
}

.words-purple small {
    display: block;
    position: absolute;
    right: 58px;
    bottom: 58px;
    font-size: 12px;
    line-height: 12px;
}

.words-purple .background>div {
    background-color: #cc33ff;
}

.words-purple .play-button {
    display: block;
    margin: 48px auto;
    border: 2px solid #1a001c;
    border-radius: 6px;
    padding: 16px 24px;
    background: linear-gradient(to bottom, #edd7f5, #b176c4);
    color: #fff;
    text-shadow: -1px -1px #000, -1px 1px #000, 1px 1px #000, 1px -1px #000,
            0 0 0 #cc33ff;
    cursor: pointer;
    transition: box-shadow 0.2s, text-shadow 0.2s, padding 0.2s;
    box-shadow: 0 0 0 #cc33ff, inset 0 0 0 #000;
}

.words-purple .play-button:hover {
    box-shadow: 0 0 24px #cc33ff, inset 0 0 0 #000;
    text-shadow: -1px -1px #000, -1px 1px #000, 1px 1px #000, 1px -1px #000,
            0 0 12px #cc33ff;
}

.words-purple .play-button:active,
.words-purple .play-button.active {
    padding: 18px 25px 14px 23px;
    box-shadow: 0 0 0 #cc33ff, inset 0 2px 6px #000;
}

.words-purple .counter {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 800px;
    line-height: 600px;
    text-align: center;
    color: #cc66ee;
}

.words-purple .instruction {
    position: absolute;
    display: block;
    top: 48px;
    left: 64px;
    right: 64px;
}

.words-purple .word-entry {
    position: absolute;
    display: block;
    top: 240px;
    left: 64px;
    right: 64px;
    border: 2px solid #1a001c;
    padding: 0 8px;
    background: #fff;
    cursor: text;
}

.words-purple .word-entry.focus {
    box-shadow: 0 0 12px #cc33ff;
}

.words-purple .word-entry>input {
    outline: 0;
}

.words-purple .word-entry>.good-word {
    color: #33ff44;
}

.words-purple .word-entry>.bad-word {
    color: #ff3344;
}

.words-purple .word-entry>.bad-word.flash {
    color: #871c25;
}

.words-purple .score {
    position: absolute;
    display: block;
    bottom: 48px;
    left: 48px;
    padding: 0 8px;
}

.words-purple .winner,
.words-purple .loser {
    display: block;
    position: absolute;
    width: 100%;
    top: 192px;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
}

.words-purple .winner {
    color: #33ff44;
    text-shadow: -2px -2px #051a06, 0 -2px #051a06, 2px -2px #051a06, 2px 0 #051a06,
            2px 2px #051a06, 0 2px #051a06, -2px 2px #051a06, -2px 0 #051a06;
}

.words-purple .loser {
    color: #ff3344;
    text-shadow: -2px -2px #1a0507, 0 -2px #1a0507, 2px -2px #1a0507, 2px 0 #1a0507,
            2px 2px #1a0507, 0 2px #1a0507, -2px 2px #1a0507, -2px 0 #1a0507;
}